.portfolio{
  background-color: rgb(1, 43, 77);
  padding-top: 30px;
  padding-bottom: 50px;
  padding: 5em;
  color: white;
}

.container{
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-headling{
  text-align: center;
  margin-bottom: 10rem;
}

.section-headling h1{
  font-size: 3.5rem;
  color: rgba(255, 255, 255, .4);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

/* .section-headling h1::before,
.section-headling h1::after{
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, .75);
}

.section-headling h1::before{
  width: 10rem;
  height: 3px;
  border-radius: .8rem;
}

.section-headling h1::after{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
} */

.section-headling h6{
  font-size: 1.6rem;
  font-weight: 300;
}

.marg{
  margin-right: 5rem;
}


.portfolio-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-item:last-child{
  margin-bottom: 0;
}

.portfolio-img{
  /* flex: 1; */
  /* width: 50rem; */

  background:linear-gradient(#1a7297, #195fafa4, #e66465);
  /* width: 90%; */
  padding: 1rem;
  overflow: hidden;
  border-radius: 10px;
}

.portfolio-img img{
  width: 30rem;
  overflow: hidden;
}

.portfolio-img img:hover{
  transform: scale(1.2);
}

.portfolio-description{
  
}

.portfolio-description h6{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}

.portfolio-description p{
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, .7);
}

.cta{
  
}
