.portfolio-page {
  background-color: rgb(1, 43, 77);
  padding-top: 30px;
  padding-bottom: 50px;
  padding: 5em;
  color: white;
}

.portfolio{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.portfolio .project{
  /* background:linear-gradient(#e66465, #9198e5); */
  background:linear-gradient(#1a7297, #195fafa4, #e66465);
  width: 90%;
  padding: 1rem;
  overflow: hidden;
  border-radius: 10px;
}
.portfolio .project.project-content{
  overflow: hidden;
  padding-bottom: 2rem;
}
.project-content img{
  width: 100%;
  transition: all .2s ease-in-out;
  padding-bottom: 2rem;
}

.project-content img:hover{
  transform: scale(1.1);
}
.project-content .project-link{
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  font-size: 2rem;
  padding-bottom: 2rem;
  transition: all .4s ease-in-out;
    
}
.project-content .project-link{
  /* color: #ac58bd; */
  color: #fff;
  font-weight: 600;
}
.title{
  margin-bottom: 4rem;
}

@media(max-width: 1080px){
  .portfolio{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}

@media(max-width: 1200px){
  .portfolio{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

@media(max-width: 768px) {
  .portfolio{
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  .portfolio .project{
    width: 100%;
  }
}